{
  "openapi": "3.1.0",
  "info": {
    "title": "TON Center API v2",
    "description": "Query TON accounts, blocks, transactions, smart contracts, and configuration through the TON Center v2 REST and JSON-RPC endpoints. Native coin balances use decimal strings in nanograms: 1 GRAM = 1,000,000,000 nanograms. TVM integers use decimal strings in standard stacks and hexadecimal strings in legacy replies. Cell data uses base64-encoded BoCs. Supply an API key in the X-API-Key header for authenticated access.",
    "license": {
      "name": "MIT"
    },
    "version": "2.1.15"
  },
  "servers": [
    {
      "url": "https://toncenter.com"
    },
    {
      "url": "https://testnet.toncenter.com"
    }
  ],
  "paths": {
    "/api/v2/detectAddress": {
      "get": {
        "description": "Validates an address and returns it in all standard formats. Use this to convert between address formats or to validate user input. Returns raw format (0:abc), base64 bounceable (EQ), base64 non-bounceable (UQ), and URL-safe variants.",
        "operationId": "detectAddress_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detectAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Validates an address and returns it in all standard formats. Use this to convert between address formats or to validate user input. Returns raw format (0:abc), base64 bounceable (EQ), base64 non-bounceable (UQ), and URL-safe variants.",
        "operationId": "detectAddress_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detectAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/detectHash": {
      "get": {
        "description": "Validates a hash and returns it in all standard formats. Use this to convert between hex (64 chars) and base64 (44 chars) representations. Works with any 256-bit hash including transaction hashes, block hashes, and message hashes.",
        "operationId": "detectHash_get",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "Hash value to detect encoding formats for.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hash value to detect encoding formats for."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detectHashResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Validates a hash and returns it in all standard formats. Use this to convert between hex (64 chars) and base64 (44 chars) representations. Works with any 256-bit hash including transaction hashes, block hashes, and message hashes.",
        "operationId": "detectHash_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectHashRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detectHashResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/dnsResolve": {
      "get": {
        "description": "Resolve TON DNS contract",
        "operationId": "dnsResolve_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "category",
            "in": "query",
            "description": "DNS category selector. The pinned C++ implementation accepts but ignores this\nfield and passes the zero category (all records) to `TONLib`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "DNS category selector. The pinned C++ implementation accepts but ignores this\nfield and passes the zero category (all records) to `TONLib`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "name",
            "in": "query",
            "description": "Domain name to resolve; omission uses the empty name at the supplied resolver.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Domain name to resolve; omission uses the empty name at the supplied resolver."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number for historical resolution; must be positive when\nsupplied.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Masterchain block sequence number for historical resolution; must be positive when\nsupplied."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "ttl",
            "in": "query",
            "description": "Maximum resolver recursion depth, not a cache lifetime in seconds. Must be non-negative;\nomission passes zero to `TONLib`.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum resolver recursion depth, not a cache lifetime in seconds. Must be non-negative;\nomission passes zero to `TONLib`."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dnsResolveResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Resolve TON DNS contract",
        "operationId": "dnsResolve_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsResolveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dnsResolveResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/estimateFee": {
      "post": {
        "description": "Calculates the fees required to send a message. Provide the destination address and message body. For new contract deployments, also include `init_code` and `init_data`. Set `ignore_chksig` to true when estimating before signing. Returns a breakdown of storage, gas, and forwarding fees.",
        "operationId": "estimateFee_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateFeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/estimateFeeResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getAddressBalance": {
      "get": {
        "description": "Returns the GRAM balance of an account in nanograms. 1 GRAM = 1,000,000,000 nanograms. A lightweight endpoint that returns only the balance without contract code, data, or other account details. Returns \"0\" for addresses that have never received any funds.",
        "operationId": "getAddressBalance_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressBalanceResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the GRAM balance of an account in nanograms. 1 GRAM = 1,000,000,000 nanograms. A lightweight endpoint that returns only the balance without contract code, data, or other account details. Returns \"0\" for addresses that have never received any funds.",
        "operationId": "getAddressBalance_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithSeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressBalanceResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getAddressInformation": {
      "get": {
        "description": "Returns the current state of any account on the TON blockchain. Includes the balance (in nanograms), smart contract code and data (if deployed), account status, and a reference to the last transaction. This is the primary endpoint for checking if an address exists and what's deployed there.",
        "operationId": "getAddressInformation_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the current state of any account on the TON blockchain. Includes the balance (in nanograms), smart contract code and data (if deployed), account status, and a reference to the last transaction. This is the primary endpoint for checking if an address exists and what's deployed there.",
        "operationId": "getAddressInformation_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithSeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getAddressState": {
      "get": {
        "description": "Returns the account lifecycle state: `uninitialized` (no contract deployed), `active` (contract deployed), or `frozen` (contract state frozen).",
        "operationId": "getAddressState_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressStateResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the account lifecycle state: `uninitialized` (no contract deployed), `active` (contract deployed), or `frozen` (contract state frozen).",
        "operationId": "getAddressState_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithSeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressStateResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getBlock": {
      "get": {
        "description": "Get raw block data as a base64-encoded BOC",
        "operationId": "getBlock_get",
        "parameters": [
          {
            "name": "archival",
            "in": "query",
            "description": "Select archival liteservers for old data. Omission lets the server choose its default.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/BoolInput",
                  "description": "Select archival liteservers for old data. Omission lets the server choose its default."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "file_hash",
            "in": "query",
            "description": "Hash of the serialized block `BoC`, accepted as hexadecimal or base64.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the serialized block `BoC`, accepted as hexadecimal or base64."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "root_hash",
            "in": "query",
            "description": "Block root cell hash, accepted as 64 hexadecimal characters or base64.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Block root cell hash, accepted as 64 hexadecimal characters or base64."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "shard",
            "in": "query",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int64Input",
              "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "workchain",
            "in": "query",
            "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Get raw block data as a base64-encoded BOC",
        "operationId": "getBlock_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getBlockHeader": {
      "get": {
        "description": "Returns block metadata without the full transaction list. Includes timestamps, validator info, and references to previous blocks. Intended for block explorers and other use cases that require block information without transactions.",
        "operationId": "getBlockHeader_get",
        "parameters": [
          {
            "name": "file_hash",
            "in": "query",
            "description": "Hash of the serialized block data. Together with `root_hash`, uniquely identifies a block.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the serialized block data. Together with `root_hash`, uniquely identifies a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "root_hash",
            "in": "query",
            "description": "Root hash of the block. Together with `file_hash`, uniquely identifies a block.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Root hash of the block. Together with `file_hash`, uniquely identifies a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "shard",
            "in": "query",
            "description": "Signed 64-bit shard identifier. The full shard uses -9223372036854775808; preserve the\ndecimal string representation.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int64Input",
              "description": "Signed 64-bit shard identifier. The full shard uses -9223372036854775808; preserve the\ndecimal string representation."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "workchain",
            "in": "query",
            "description": "Workchain identifier: -1 for masterchain, 0 for the base workchain.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Workchain identifier: -1 for masterchain, 0 for the base workchain."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockHeaderResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns block metadata without the full transaction list. Includes timestamps, validator info, and references to previous blocks. Intended for block explorers and other use cases that require block information without transactions.",
        "operationId": "getBlockHeader_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockHeaderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockHeaderResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getBlockTransactions": {
      "get": {
        "description": "Returns a summary of transactions in a specific block. Each item contains the account address and transaction ID, but not full transaction details. Use `count` to limit results and `after_lt`/`after_hash` for pagination. Call getTransactions with each transaction ID to get full details.",
        "operationId": "getBlockTransactions_get",
        "parameters": [
          {
            "name": "after_hash",
            "in": "query",
            "description": "Return items after this hash (for pagination within same `lt`).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Return items after this hash (for pagination within same `lt`)."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "after_lt",
            "in": "query",
            "description": "Return items after this logical time (for pagination).",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Return items after this logical time (for pagination)."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Maximum number of items to return."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "file_hash",
            "in": "query",
            "description": "Hash of the serialized block data. Together with `root_hash`, uniquely identifies a block.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the serialized block data. Together with `root_hash`, uniquely identifies a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "root_hash",
            "in": "query",
            "description": "Root hash of the block. Together with `file_hash`, uniquely identifies a block.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Root hash of the block. Together with `file_hash`, uniquely identifies a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "shard",
            "in": "query",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int64Input",
              "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "workchain",
            "in": "query",
            "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns a summary of transactions in a specific block. Each item contains the account address and transaction ID, but not full transaction details. Use `count` to limit results and `after_lt`/`after_hash` for pagination. Call getTransactions with each transaction ID to get full details.",
        "operationId": "getBlockTransactions_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getBlockTransactionsExt": {
      "get": {
        "description": "Returns full transaction objects for transactions in a specific block. Each transaction includes complete data: inbound and outbound messages, fees, and BoC-encoded raw data. Use `count` to limit results and `after_lt`/`after_hash` for pagination when `incomplete` is true.",
        "operationId": "getBlockTransactionsExt_get",
        "parameters": [
          {
            "name": "after_hash",
            "in": "query",
            "description": "Return items after this hash (for pagination within same `lt`).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Return items after this hash (for pagination within same `lt`)."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "after_lt",
            "in": "query",
            "description": "Return items after this logical time (for pagination).",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Return items after this logical time (for pagination)."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Maximum number of items to return."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "file_hash",
            "in": "query",
            "description": "Hash of the serialized block data. Together with `root_hash`, uniquely identifies a block.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the serialized block data. Together with `root_hash`, uniquely identifies a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "root_hash",
            "in": "query",
            "description": "Root hash of the block. Together with `file_hash`, uniquely identifies a block.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Root hash of the block. Together with `file_hash`, uniquely identifies a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "shard",
            "in": "query",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int64Input",
              "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "workchain",
            "in": "query",
            "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockTransactionsExtResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns full transaction objects for transactions in a specific block. Each transaction includes complete data: inbound and outbound messages, fees, and BoC-encoded raw data. Use `count` to limit results and `after_lt`/`after_hash` for pagination when `incomplete` is true.",
        "operationId": "getBlockTransactionsExt_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBlockTransactionsExtResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getConfigAll": {
      "get": {
        "description": "Returns all blockchain configuration parameters at once. Includes gas prices, validator settings, workchain configs, and governance rules. Use the optional `seqno` to get historical configuration at a specific block height.",
        "operationId": "getConfigAll_get",
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number (block height). Used to query blockchain config at a\nspecific block. If omitted, the latest masterchain block is used.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number (block height). Used to query blockchain config at a\nspecific block. If omitted, the latest masterchain block is used."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getConfigAllResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns all blockchain configuration parameters at once. Includes gas prices, validator settings, workchain configs, and governance rules. Use the optional `seqno` to get historical configuration at a specific block height.",
        "operationId": "getConfigAll_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigAllRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getConfigAllResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getConfigParam": {
      "get": {
        "description": "Returns a specific blockchain configuration parameter. TON stores all network settings on-chain as numbered parameters. Common ones: 0 (config contract), 1 (elector), 15 (election timing), 17 (stake limits), 20-21 (gas prices), 34 (current validators). Check TON documentation for the full list.",
        "operationId": "getConfigParam_get",
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Configuration parameter number. Each number controls different blockchain settings.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Configuration parameter number. Each number controls different blockchain settings."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "param",
            "in": "query",
            "description": "Configuration parameter number; alternative spelling of `config_id`. Supply at least one of\nthem.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Configuration parameter number; alternative spelling of `config_id`. Supply at least one of\nthem."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number (block height). Used to query blockchain config at a\nspecific block. If omitted, the latest masterchain block is used.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number (block height). Used to query blockchain config at a\nspecific block. If omitted, the latest masterchain block is used."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getConfigParamResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns a specific blockchain configuration parameter. TON stores all network settings on-chain as numbered parameters. Common ones: 0 (config contract), 1 (elector), 15 (election timing), 17 (stake limits), 20-21 (gas prices), 34 (current validators). Check TON documentation for the full list.",
        "operationId": "getConfigParam_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigParamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getConfigParamResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getConsensusBlock": {
      "get": {
        "description": "Get block that was confirmed by consensus",
        "operationId": "getConsensusBlock_get",
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getConsensusBlockResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Get block that was confirmed by consensus",
        "operationId": "getConsensusBlock_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmptyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getConsensusBlockResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getExtendedAddressInformation": {
      "get": {
        "description": "Returns detailed account information with parsed contract state. For recognized contract types, returns type-specific state fields. For other contracts, returns the raw state.",
        "operationId": "getExtendedAddressInformation_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getExtendedAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns detailed account information with parsed contract state. For recognized contract types, returns type-specific state fields. For other contracts, returns the raw state.",
        "operationId": "getExtendedAddressInformation_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithSeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getExtendedAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getLibraries": {
      "get": {
        "description": "Returns smart contract library code by hash. Some contracts reference shared libraries instead of including all code directly. When a library reference appears in contract code, this endpoint fetches the actual library implementation.",
        "operationId": "getLibraries_get",
        "parameters": [
          {
            "name": "libraries",
            "in": "query",
            "description": "Array of library cell hashes to retrieve. Each hash is a 256-bit value in hex (64 chars) or\nbase64 (44 chars) format.",
            "required": false,
            "schema": {
              "type": [
                "array",
                "null"
              ],
              "items": {
                "type": "string"
              },
              "description": "Array of library cell hashes to retrieve. Each hash is a 256-bit value in hex (64 chars) or\nbase64 (44 chars) format."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getLibrariesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns smart contract library code by hash. Some contracts reference shared libraries instead of including all code directly. When a library reference appears in contract code, this endpoint fetches the actual library implementation.",
        "operationId": "getLibraries_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibrariesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getLibrariesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getMasterchainBlockSignatures": {
      "get": {
        "description": "Returns validator signatures for a specific masterchain block. Each signature proves that a validator approved this block. Use this for building cryptographic proofs or verifying block authenticity in trustless applications.",
        "operationId": "getMasterchainBlockSignatures_get",
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getMasterchainBlockSignaturesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns validator signatures for a specific masterchain block. Each signature proves that a validator approved this block. Use this for building cryptographic proofs or verifying block authenticity in trustless applications.",
        "operationId": "getMasterchainBlockSignatures_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getMasterchainBlockSignaturesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getMasterchainInfo": {
      "get": {
        "description": "Returns the current state of the TON masterchain. The `last` field contains the latest block used for querying current state. The `seqno` in `last` is the current block height. Use this endpoint to obtain the latest block reference for other queries.",
        "operationId": "getMasterchainInfo_get",
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getMasterchainInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the current state of the TON masterchain. The `last` field contains the latest block used for querying current state. The `seqno` in `last` is the current block height. Use this endpoint to obtain the latest block reference for other queries.",
        "operationId": "getMasterchainInfo_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmptyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getMasterchainInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getOutMsgQueueSize": {
      "get": {
        "description": "Returns the current size of the outbound message queue for each shard. A growing queue indicates network congestion. If the queue is large, transactions may take longer to process. Monitor this to detect network issues.",
        "operationId": "getOutMsgQueueSize_get",
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOutMsgQueueSizeResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the current size of the outbound message queue for each shard. A growing queue indicates network congestion. If the queue is large, transactions may take longer to process. Monitor this to detect network issues.",
        "operationId": "getOutMsgQueueSize_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmptyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOutMsgQueueSizeResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getShardAccountCell": {
      "get": {
        "description": "Get raw TVM cell with shard account",
        "operationId": "getShardAccountCell_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShardAccountCellResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Get raw TVM cell with shard account",
        "operationId": "getShardAccountCell_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithSeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShardAccountCellResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getShardBlockProof": {
      "get": {
        "description": "Returns a Merkle proof that links a shardchain block to a masterchain block. This proof cryptographically verifies that the shard block is part of the canonical chain. Used by light clients and cross-chain bridges to verify shard data without trusting the API.",
        "operationId": "getShardBlockProof_get",
        "parameters": [
          {
            "name": "from_seqno",
            "in": "query",
            "description": "Starting masterchain block for proof generation.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Starting masterchain block for proof generation."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Shardchain block sequence number. Identifies a specific block within the given workchain\nand shard. Use together with `workchain` and `shard` to uniquely identify a block.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Shardchain block sequence number. Identifies a specific block within the given workchain\nand shard. Use together with `workchain` and `shard` to uniquely identify a block."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "shard",
            "in": "query",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int64Input",
              "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "workchain",
            "in": "query",
            "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Workchain ID: `-1` for masterchain, `0` for basechain. Most user transactions are on\nworkchain `0`."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShardBlockProofResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns a Merkle proof that links a shardchain block to a masterchain block. This proof cryptographically verifies that the shard block is part of the canonical chain. Used by light clients and cross-chain bridges to verify shard data without trusting the API.",
        "operationId": "getShardBlockProof_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShardBlockProofRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShardBlockProofResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getShards": {
      "get": {
        "description": "Returns the active shardchain block identifiers at a given masterchain block height. Each shard processes a subset of accounts in parallel. The response shows how the basechain is currently partitioned and which block each shard is at.",
        "operationId": "getShards_get",
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Int32Input",
              "description": "Block sequence number. For account and configuration queries this is a masterchain height;\nomit to query the latest state."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShardsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns the active shardchain block identifiers at a given masterchain block height. Each shard processes a subset of accounts in parallel. The response shows how the basechain is currently partitioned and which block each shard is at.",
        "operationId": "getShards_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShardsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getTokenData": {
      "get": {
        "description": "Returns metadata for Jetton or NFT contracts. Automatically detects the contract type and returns appropriate fields. For Jetton masters: total supply, admin, metadata. For Jetton wallets: balance, owner. For NFT items: collection, owner, content. For NFT collections: item count, metadata.",
        "operationId": "getTokenData_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int32Input",
                  "description": "Masterchain block sequence number. Query the account state as it was at this block height.\nIf omitted, returns the current state."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenDataResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns metadata for Jetton or NFT contracts. Automatically detects the contract type and returns appropriate fields. For Jetton masters: total supply, admin, metadata. For Jetton wallets: balance, owner. For NFT items: collection, owner, content. For NFT collections: item count, metadata.",
        "operationId": "getTokenData_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithSeqnoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTokenDataResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getTransactions": {
      "get": {
        "description": "Returns transaction history for an account. Transactions are returned newest-first. Each transaction shows the incoming message that triggered it, all outgoing messages, and fees paid. For pagination: use the `lt` and `hash` from the oldest transaction as the starting point for the next request.",
        "operationId": "getTransactions_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "archival",
            "in": "query",
            "description": "Whether to use archival nodes for old data.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/BoolInput",
                  "description": "Whether to use archival nodes for old data."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Hash of the starting transaction for pagination. Use together with `lt` from a previous\nresponse's `transaction_id`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the starting transaction for pagination. Use together with `lt` from a previous\nresponse's `transaction_id`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Maximum number of items to return."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "lt",
            "in": "query",
            "description": "Logical time of the transaction. Use together with its hash for pagination and lookups.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Logical time of the transaction. Use together with its hash for pagination and lookups."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "to_lt",
            "in": "query",
            "description": "Stop returning items at this logical time.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Stop returning items at this logical time."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns transaction history for an account. Transactions are returned newest-first. Each transaction shows the incoming message that triggered it, all outgoing messages, and fees paid. For pagination: use the `lt` and `hash` from the oldest transaction as the starting point for the next request.",
        "operationId": "getTransactions_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getTransactionsStd": {
      "get": {
        "description": "Returns transaction history for an account in a standardized format. Transactions are returned newest-first. Each transaction includes the triggering inbound message, all outbound messages, and fees paid. The response includes a `previous_transaction_id` cursor for paginating through older transactions.",
        "operationId": "getTransactionsStd_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account to query, in raw workchain:hex or user-friendly base64 form."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "archival",
            "in": "query",
            "description": "Whether to use archival nodes for old data.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/BoolInput",
                  "description": "Whether to use archival nodes for old data."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Hash of the starting transaction for pagination. Use together with `lt` from a previous\nresponse's `transaction_id`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the starting transaction for pagination. Use together with `lt` from a previous\nresponse's `transaction_id`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Maximum number of items to return."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "lt",
            "in": "query",
            "description": "Logical time of the transaction. Use together with its hash for pagination and lookups.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Logical time of the transaction. Use together with its hash for pagination and lookups."
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "to_lt",
            "in": "query",
            "description": "Stop returning items at this logical time.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Int64Input",
                  "description": "Stop returning items at this logical time."
                }
              ]
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionsStdResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns transaction history for an account in a standardized format. Transactions are returned newest-first. Each transaction includes the triggering inbound message, all outbound messages, and fees paid. The response includes a `previous_transaction_id` cursor for paginating through older transactions.",
        "operationId": "getTransactionsStd_post",
        "requestBody": {
          "description": "Typed parameters. Omit optional fields to use server defaults.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful method result in a TONLib envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionsStdResponse"
                }
              }
            }
          },
          "default": {
            "description": "API or gateway failure, including validation errors and rate limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/getWalletInformation": {
      "get": {
        "description": "Returns wallet-specific information for an address. If the address is a known wallet contract, returns the wallet type, current `seqno` (needed for sending transactions), and `wallet_id`. Always check `wallet: true` before using wallet-specific fields. Call this before sending any transaction to get the current `seqno`.",
        "operationId": "getWalletInformation_get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account to query, in raw workchain:hex or user-friendly base64 form.",
[...]
