{
  "openapi": "3.1.0",
  "info": {
    "title": "TON Center API v3 — supported operations",
    "description": "Query indexed accounts, blocks, transactions, traces, tokens, NFTs, and contract state. This document covers the v3 operations supported by the toncenter crate. Native coin amounts use nanograms: 1 GRAM = 1,000,000,000 nanograms. Addresses, hashes, and serialized cells retain their JSON encoding.",
    "license": {
      "name": "MIT"
    },
    "version": "1.2.6"
  },
  "servers": [
    {
      "url": "https://toncenter.com"
    },
    {
      "url": "https://testnet.toncenter.com"
    }
  ],
  "paths": {
    "/api/v3/accountStates": {
      "get": {
        "description": "Returns indexed account states, with optional serialized contract code and data.",
        "operationId": "GetAccountStates",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "include_boc",
            "in": "query",
            "description": "Whether to include serialized contract code and data cells.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to include serialized contract code and data cells."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountStatesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/addressBook": {
      "get": {
        "description": "Returns address presentation and detected contract interfaces, keyed by address.",
        "operationId": "GetAddressBook",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddressBookResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/addressInformation": {
      "get": {
        "description": "Returns an account's balance, lifecycle state, code, data, and last transaction reference.",
        "operationId": "GetAddressInformation",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account or contract address to query, in raw or user-friendly format."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "use_v2",
            "in": "query",
            "description": "Whether to obtain account information through the v2-compatible backend.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to obtain account information through the v2-compatible backend."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/adjacentTransactions": {
      "get": {
        "description": "Returns transactions connected to a transaction through incoming or outgoing messages.",
        "operationId": "GetAdjacentTransactions",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Message or transfer direction relative to the selected account, such as `in` or `out`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Message or transfer direction relative to the selected account, such as `in` or `out`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "hash",
            "in": "query",
            "description": "Transaction hash used to select matching records.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Transaction hash used to select matching records."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdjacentTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/blocks": {
      "get": {
        "description": "Returns indexed block headers, predecessor references, and transaction counts.",
        "operationId": "GetBlocks",
        "parameters": [
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Upper bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "Latest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Latest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "file_hash",
            "in": "query",
            "description": "Hash of the serialized block file.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the serialized block file."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "mc_seqno",
            "in": "query",
            "description": "Masterchain block sequence number associated with the records.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Masterchain block sequence number associated with the records."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "root_hash",
            "in": "query",
            "description": "Hash of the block's root cell.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the block's root cell."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block sequence number within the selected shard.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Block sequence number within the selected shard."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "shard",
            "in": "query",
            "description": "Shard identifier as text, preserving the server representation.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Shard identifier as text, preserving the server representation."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_lt",
            "in": "query",
            "description": "Lower bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Lower bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Earliest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Earliest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "workchain",
            "in": "query",
            "description": "Workchain identifier; `-1` identifies the masterchain and `0` the basechain.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Workchain identifier; `-1` identifies the masterchain and `0` the basechain."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBlocksResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/dns/records": {
      "get": {
        "description": "Returns indexed DNS records selected by domain or wallet address.",
        "operationId": "GetDnsRecords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "DNS domain name associated with the record.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "DNS domain name associated with the record."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "wallet",
            "in": "query",
            "description": "Wallet address used to select DNS records.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Wallet address used to select DNS records."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDnsRecordsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/estimateFee": {
      "post": {
        "description": "Estimates message-processing fees for the sender and destination contracts without broadcasting the message.",
        "operationId": "EstimateFee",
        "requestBody": {
          "description": "Parameters encoded as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateFeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateFeeResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/jetton/burns": {
      "get": {
        "description": "Returns indexed jetton burns with their amounts, owners, and originating transactions.",
        "operationId": "GetJettonBurns",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Upper bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "Latest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Latest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "jetton_master",
            "in": "query",
            "description": "Jetton master contract identifying the token.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Jetton master contract identifying the token."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "jetton_wallet",
            "in": "query",
            "description": "Jetton wallet contract storing the owner's token balance. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Jetton wallet contract storing the owner's token balance. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_lt",
            "in": "query",
            "description": "Lower bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Lower bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Earliest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Earliest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJettonBurnsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/jetton/masters": {
      "get": {
        "description": "Returns indexed jetton master states, supply, administration, and token metadata.",
        "operationId": "GetJettonMasters",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "admin_address",
            "in": "query",
            "description": "Administrator address authorized to manage the jetton master. In a URL query, repeat\nthe parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Administrator address authorized to manage the jetton master. In a URL query, repeat\nthe parameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJettonMastersResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/jetton/transfers": {
      "get": {
        "description": "Returns indexed jetton transfers with participants, amounts, and notification payloads.",
        "operationId": "GetJettonTransfers",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Message or transfer direction relative to the selected account, such as `in` or `out`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Message or transfer direction relative to the selected account, such as `in` or `out`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Upper bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "Latest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Latest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "jetton_master",
            "in": "query",
            "description": "Jetton master contract identifying the token.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Jetton master contract identifying the token."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "jetton_wallet",
            "in": "query",
            "description": "Jetton wallet contract storing the owner's token balance. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Jetton wallet contract storing the owner's token balance. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "owner_address",
            "in": "query",
            "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_lt",
            "in": "query",
            "description": "Lower bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Lower bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Earliest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Earliest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJettonTransfersResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/jetton/wallets": {
      "get": {
        "description": "Returns indexed jetton wallets, their owners, and balances in the token's smallest units.",
        "operationId": "GetJettonWallets",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "exclude_zero_balance",
            "in": "query",
            "description": "Whether to exclude jetton wallets with zero token balance.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to exclude jetton wallets with zero token balance."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "jetton_address",
            "in": "query",
            "description": "Jetton master address used to select token wallets. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Jetton master address used to select token wallets. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "owner_address",
            "in": "query",
            "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJettonWalletsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/masterchainBlockShardState": {
      "get": {
        "description": "Returns the shard blocks referenced by the state of a masterchain block.",
        "operationId": "GetMasterchainBlockShardState",
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "Sequence number of the masterchain block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Sequence number of the masterchain block."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMasterchainBlockShardStateResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/masterchainBlockShards": {
      "get": {
        "description": "Returns shard blocks committed by a masterchain block, with pagination.",
        "operationId": "GetMasterchainBlockShards",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Sequence number of the masterchain block.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Sequence number of the masterchain block."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMasterchainBlockShardsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/masterchainInfo": {
      "get": {
        "description": "Returns the oldest and newest masterchain blocks available in the index.",
        "operationId": "GetMasterchainInfo",
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMasterchainInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/message": {
      "post": {
        "description": "Submits an external message for broadcast and returns its hash. Acceptance does not prove on-chain inclusion.",
        "operationId": "SendMessage",
        "requestBody": {
          "description": "Parameters encoded as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/messages": {
      "get": {
        "description": "Returns indexed messages, transferred values, and serialized or decoded content.",
        "operationId": "GetMessages",
        "parameters": [
          {
            "name": "body_hash",
            "in": "query",
            "description": "Hash of the serialized message body cell.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Hash of the serialized message body cell."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Destination account address of the message or transfer.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Destination account address of the message or transfer."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Message or transfer direction relative to the selected account, such as `in` or `out`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Message or transfer direction relative to the selected account, such as `in` or `out`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Upper bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "Latest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Latest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "exclude_externals",
            "in": "query",
            "description": "Whether to exclude external messages from the results.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to exclude external messages from the results."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "msg_hash",
            "in": "query",
            "description": "Message hashes used to select matching records. In a URL query, repeat the parameter\nfor each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Message hashes used to select matching records. In a URL query, repeat the parameter\nfor each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "only_externals",
            "in": "query",
            "description": "Whether to return only external messages.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to return only external messages."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "opcode",
            "in": "query",
            "description": "Operation code extracted from the message body.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Operation code extracted from the message body."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source account address of the message or transfer.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Source account address of the message or transfer."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_lt",
            "in": "query",
            "description": "Lower bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Lower bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Earliest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Earliest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessagesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/metadata": {
      "get": {
        "description": "Returns indexing status and token or NFT metadata, keyed by address.",
        "operationId": "GetMetadata",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/multisig/orders": {
      "get": {
        "description": "Returns multisig orders, approval state, and optionally decoded outgoing actions.",
        "operationId": "GetMultisigOrders",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "multisig_address",
            "in": "query",
            "description": "Parent multisig contract address. In a URL query, repeat the parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Parent multisig contract address. In a URL query, repeat the parameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "parse_actions",
            "in": "query",
            "description": "Whether to decode the messages contained in multisig order actions.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to decode the messages contained in multisig order actions."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMultisigOrdersResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/multisig/wallets": {
      "get": {
        "description": "Returns multisig contracts and their authorized participants, with optional orders.",
        "operationId": "GetMultisigWallets",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "include_orders",
            "in": "query",
            "description": "Whether to include orders associated with each multisig contract.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to include orders associated with each multisig contract."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "wallet_address",
            "in": "query",
            "description": "Wallet addresses used to select related contracts. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Wallet addresses used to select related contracts. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMultisigWalletsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/nft/collections": {
      "get": {
        "description": "Returns indexed NFT collection states and content metadata.",
        "operationId": "GetNftCollections",
        "parameters": [
          {
            "name": "collection_address",
            "in": "query",
            "description": "NFT collection contract address. In a URL query, repeat the parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "NFT collection contract address. In a URL query, repeat the parameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "owner_address",
            "in": "query",
            "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNftCollectionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/nft/items": {
      "get": {
        "description": "Returns indexed NFT ownership, collection membership, content, and sale status.",
        "operationId": "GetNftItems",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "collection_address",
            "in": "query",
            "description": "NFT collection contract address. In a URL query, repeat the parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "NFT collection contract address. In a URL query, repeat the parameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "include_on_sale",
            "in": "query",
            "description": "Whether to include items held by sale or auction contracts when filtering by owner.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to include items held by sale or auction contracts when filtering by owner."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "index",
            "in": "query",
            "description": "NFT item index within its collection, encoded as decimal text. In a URL query, repeat\nthe parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "NFT item index within its collection, encoded as decimal text. In a URL query, repeat\nthe parameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "owner_address",
            "in": "query",
            "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort_by_last_transaction_lt",
            "in": "query",
            "description": "Whether to order NFT items by their last transaction's logical time.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to order NFT items by their last transaction's logical time."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNftItemsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/nft/sales": {
      "get": {
        "description": "Returns NFT sale and auction contracts with their type-specific details.",
        "operationId": "GetNftSales",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account or contract address to query, in raw or user-friendly format. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNftSalesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/nft/transfers": {
      "get": {
        "description": "Returns indexed NFT ownership transfers and their notification payloads.",
        "operationId": "GetNftTransfers",
        "parameters": [
          {
            "name": "collection_address",
            "in": "query",
            "description": "NFT collection contract address.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "NFT collection contract address."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Message or transfer direction relative to the selected account, such as `in` or `out`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Message or transfer direction relative to the selected account, such as `in` or `out`."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Upper bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "Latest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Latest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "item_address",
            "in": "query",
            "description": "NFT item addresses used to select transfers. In a URL query, repeat the parameter for\neach value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "NFT item addresses used to select transfers. In a URL query, repeat the parameter for\neach value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "owner_address",
            "in": "query",
            "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner account address associated with the contract. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_lt",
            "in": "query",
            "description": "Lower bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Lower bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Earliest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Earliest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNftTransfersResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/pendingActions": {
      "get": {
        "description": "Returns parsed actions in pending traces. Pending results may change before transactions are included on chain.",
        "operationId": "GetPendingActions",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account address associated with the operation.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Account address associated with the operation."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "ext_msg_hash",
            "in": "query",
            "description": "External-message hashes used to select pending traces. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "External-message hashes used to select pending traces. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "include_transactions",
            "in": "query",
            "description": "Whether to include full transactions in returned actions.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to include full transactions in returned actions."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "supported_action_types",
            "in": "query",
            "description": "Action type names requested for parsing or filtering. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Action type names requested for parsing or filtering. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPendingActionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/pendingTraces": {
      "get": {
        "description": "Returns pending traces selected by account or external-message hash. Pending results do not prove on-chain inclusion.",
        "operationId": "GetPendingTraces",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account address associated with the operation.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Account address associated with the operation."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "ext_msg_hash",
            "in": "query",
            "description": "External-message hashes used to select pending traces. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "External-message hashes used to select pending traces. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPendingTracesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/pendingTransactions": {
      "get": {
        "description": "Returns pending transactions for the selected accounts and traces. Pending results do not prove on-chain inclusion.",
        "operationId": "GetPendingTransactions",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account addresses whose pending transactions are requested. Supply at least one address.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account addresses whose pending transactions are requested. Supply at least one address."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "trace_id",
            "in": "query",
            "description": "Identifier of the transaction trace associated with the record. In a URL query, repeat\nthe parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Identifier of the transaction trace associated with the record. In a URL query, repeat\nthe parameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPendingTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/runGetMethod": {
      "post": {
        "description": "Executes a contract get method with the supplied stack and returns its exit code, gas usage, and output stack.",
        "operationId": "RunGetMethod",
        "requestBody": {
          "description": "Parameters encoded as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunGetMethodRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunGetMethodResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/topAccountsByBalance": {
      "get": {
        "description": "Returns a page of accounts ordered by descending GRAM balance, with amounts in nanograms.",
        "operationId": "GetTopAccountsByBalance",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTopAccountsByBalanceResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/traces": {
      "get": {
        "description": "Returns transaction traces selected by account, hash, block, or execution range. Trace status indicates whether indexing is complete.",
        "operationId": "GetTraces",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account address whose traces should be returned.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Account address whose traces should be returned."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Upper bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "Latest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Latest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "include_actions",
            "in": "query",
            "description": "Whether to include parsed actions in returned traces.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ],
              "description": "Whether to include parsed actions in returned traces."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Maximum number of records to return in this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "mc_seqno",
            "in": "query",
            "description": "Masterchain block sequence number associated with the records.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Masterchain block sequence number associated with the records."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "msg_hash",
            "in": "query",
            "description": "Message hashes used to select matching records. In a URL query, repeat the parameter\nfor each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Message hashes used to select matching records. In a URL query, repeat the parameter\nfor each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matching records to skip before this page.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Number of matching records to skip before this page."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "description": "Ordering direction, such as `asc` or `desc`, accepted by the endpoint."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_lt",
            "in": "query",
            "description": "Lower bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "description": "Lower bound of the logical-time range.",
              "minimum": 0
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Earliest execution time in the range, in Unix seconds.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "description": "Earliest execution time in the range, in Unix seconds."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "supported_action_types",
            "in": "query",
            "description": "Action type names requested for parsing or filtering. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Action type names requested for parsing or filtering. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "trace_id",
            "in": "query",
            "description": "Identifier of the transaction trace associated with the record. In a URL query, repeat\nthe parameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Identifier of the transaction trace associated with the record. In a URL query, repeat\nthe parameter for each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "tx_hash",
            "in": "query",
            "description": "Transaction hash used to identify or select a trace node. In a URL query, repeat the\nparameter for each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Transaction hash used to identify or select a trace node. In a URL query, repeat the\nparameter for each value."
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTracesResponse"
                }
              }
            }
          },
          "default": {
            "description": "API error. Gateways can also return responses without a structured JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/transactions": {
      "get": {
        "description": "Returns indexed transactions selected by account, block, hash, or execution range.",
        "operationId": "GetTransactions",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Account address associated with the operation. In a URL query, repeat the parameter\nfor each value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Account address associated with the operation. In a URL query, repeat the parameter\nfor each value."
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "end_lt",
            "in": "query",
            "description": "Upper bound of the logical-time range.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
[...]
